/*height = 1268px width =1445px*/

body {
  background-color: beige;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 5vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(232, 221, 182);
  padding: 1vh;
  border-radius: 20px;
  margin-bottom: 2vw;
}

.navBar {
  overflow: auto;
}

.navBar ul {
  list-style-type: none;
  width: 56vw;
  margin: auto;
}

.navBar a {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1vw;
  text-align: center;
  padding: 1vw;
  display: block;
  background-color: rgb(232, 221, 182);
  float: left;
  text-decoration: none;
  margin-bottom: 2vw;
}

.navBar a:hover {
  background-color: rgb(214, 205, 174);
}

h2 {
  width: 69vw;
  margin: auto;
  margin-bottom: 4vh;
  margin-top: 4vh;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5vw;
  background-color: rgb(232, 221, 182);
  padding: 0.7vw;
  border-radius: 20px;
  clear: both;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 56vw;
  font-size: 1vw;
}

.flexContainer div {
  padding: 2vw;
  margin: auto;
  justify-content: space-between;
  align-content: center;
}

.flexContainer #tekst1flex {
  width: 28vw;
  background-color: rgb(232, 221, 182);
  border-radius: 20px;
  order: 1;
  margin-left: 4vh;
}

.flexContainer #tekst2flex {
  width: 28vw;
  background-color: rgb(232, 221, 182);
  border-radius: 20px;
  margin-right: 4vh;
  margin-top: 2.8vw;
}

.flexContainer #img1flex {
  margin-left: 20vw;
  margin-top: 0;
  margin-bottom: 0;
}

.flexContainer #img2flex {
  order: 4;
  margin-right: 20vh;
}

#Tsimageblackdress {
  width: 24vw;
  height: 24vw;
  border-radius: 20px;
}

#speaknowtvalbum {
  width: 31vw;
  height: 35vh;
  border-radius: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 30% 30%;
  place-items: center;
  column-gap: 4vh;
  margin-top: 1.6vh;
  justify-content: center;
  font-size: 1vw;
}

.gridContainer div {
  padding: 1.6vh;
  text-align: center;
}

#griddiva,
#griddivd {
  padding: 1.6vh;
  text-align: center;
}

#griddivb,
#griddivc {
  background-color: rgb(232, 221, 182);
  border-radius: 20px;
  max-width: 27.6vw;
  padding: 1.6vh;
  text-align: center;
}

#flowerdress,
#fearlessalbum,
#redtvalbum,
#redoutfittaylor,
#speaknowtvalbum,
#speaknowdress,
#a1989tvalbum,
#taylorindunes,
#repoutfit,
#taylorblackdressrep,
#debuttvalbumconcept,
#taylorgreendress {
  width: 27.6vw;
  height: 27.6vw;
  border-radius: 20px;
}

form {
  background-color: rgb(232, 221, 182);
  border-radius: 20px;
  width: 41.4vw;
  font-size: 1vw;
  padding: 1.6vh;
  margin: auto;
}

#formheadtext {
  background-color: rgb(232, 221, 182);
  font-size: 1.6vh;
  border-radius: 20px;
  max-width: 41.4vw;
  font-size: 1.5vw;
  text-align: center;
  padding: 1.6vh;
  margin: auto;
}

fieldset {
  border: none;
}

.flexContainer2 {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(232, 221, 182);
  padding: 1.6vh;
  border-radius: 20px;
  margin-top: 1.6vh;
}

#footerlogo {
  width: 10vh;
  height: 10vh;
}

#githublogo {
  width: 8vh;
  height: 8vh;
}

.linklistfooter {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  font-size: 1.2vw;
  color: rgb(168, 161, 136);
  margin-right: 1.6vh;
}

.flexContainer2 #githublogolink,
#footerlogo {
  align-self: center;
}

@media (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: 80%;
    font-size: 2vw;
  }

  #griddivb {
    margin-bottom: 2vw;
  }

  .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-size: 2vw;
  }

  .flexContainer div {
    width: 100%;
    padding: 2vw;
    margin: auto;
    justify-content: center;
    align-content: center;
  }

  .flexContainer #tekst1flex,
  .flexContainer #tekst2flex {
    width: 28vw;
    background-color: rgb(232, 221, 182);
    border-radius: 20px;
    margin: 0;
    margin-bottom: 2vw;
  }

  .flexContainer #img1flex,
  .flexContainer #img2flex {
    width: 28vw;
    margin: 0;
  }

  .navBar a {
    font-size: 2.2vw;
  }

  footer a {
    font-size: 2vw;
  }

  #griddivb,
  #griddivc {
    width: 90vw;
  }
}
